.tableContainer {
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
}
.tableWrapper {
    display: block;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}
/*we need this override to make a sortable table header wrap*/
.tableWrapper > .ui.sortable.table thead th {
    white-space: unset !important;
}
/*we need this override to prevent double bordering on the dropdown in pagination menu*/
.tableWrapper .ui.selection.dropdown {
    border: none !important;
}
/*we need this override to properly position the dropdown icon in pagination menu*/
.tableWrapper .ui.selection.dropdown > .dropdown.icon {
    top: auto !important;
}

.tableWrapper .ui.left.floated.menu a {
    color: black;
}
