.listContainer {
    display: block;
    width: 25%;
    height: 25vh;
    max-width: 100%;
}
.List {
    background: #fff;
    margin: 1em 0;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: none;
    border-radius: 0.28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    border-collapse: separate;
    border-spacing: 0;
    border-top: 2px solid #1b1c1d;
}

.ListItemEven,
.ListItemOdd {
    white-space: pre-line;
    display: block;
    font-size: 14px;
    padding: 6px;
    height: auto;
    line-height: 1.375;
    font-weight: normal;
    word-break: normal;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.ListItemOdd {
    background-color: rgba(0, 0, 50, 0.02);
}
