/* we need to import the font */
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400i&display=swap');

.themeWrapper {
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    z-index: 1;
}

.themeWrapper:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-4deg);
    transform-origin: 100%;
    z-index: -1;
}

.appContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.pageContainer {
    flex: 1;
}
.react-grid-item {
    border: 1px solid rgba(34, 36, 38, 0.4);
    border-radius: 0.28571429rem;
}
.internal-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}
/* this works because there is always a header before the grid content */
.internal-grid-content {
    /* make sure it always fills the container for height */
    flex: 1;
    /* and width */
    width: 100%;
    /*then any overflow gets scrolled*/
    overflow: auto;
}
/* then we want to space out the rows evenly and add some padding for elements with width:100%*/
.internal-grid-content-rows {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
/* then we want single rows done differently */
.internal-grid-content-single-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
/*then we multi-child items to spread in single rows */
.internal-grid-content-single-row-spread {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.ui.progress.success .bar {
    background-color: #058825 !important;
}
.ui.fitted.toggle.checkbox input:checked ~ .box:before,
.ui.fitted.toggle.checkbox input:checked ~ label:before {
    background-color: #1b1c1d !important;
}
.reveal-container {
    height: 25vh;
}
.reveal-visible-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f9fafb;
    height: 25vh;
}
.reveal-hidden-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    height: 25vh;
    padding: 10px;
}
.reveal-hidden-content-item {
    font-size: 16px;
    font-weight: 700;
}
